body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}
header {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  right: 0%;
  left: 0%;
  top: 0px;
  /* original color */
  background: #ffffff;
  /* testing color */
  /* background-color: red; */
  box-shadow: 0px 4px 15px rgba(49, 60, 72, 0.05);
}
#logo {
  margin: 0;
  padding: 0;
}
#logo img {
  height: 84px;
  margin-left: 142px;
  margin-right: 142px;
}
.info a {
  text-decoration: none;
  color: black;
}
.info {
  flex-grow: 1;
}
.info ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.info li {
  margin-right: 59px;
}
.nav_icon {
  margin-right: 142px;
}
.nav_icon a {
  margin-right: 59px;
}
.nav_icon img {
  width: 28px;
  height: 28px;
  top: 10px;
}
.main_box {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1165px;
  height: 500px;
  left: 138px;
  top: 110px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15),
    -2px -2px 5px rgba(20, 29, 61, 0.15);
  border-radius: 30px;
}
.main_box div {
  margin: 0;
  padding: 0;
}
#main {
  width: 485px;
  height: 86px;
  margin-top: 124px;
  margin-left: 98px;
  margin-bottom: 290px;
  font-size: 36px;
  line-height: 43px;
}
#sec_child {
  width: 365px;
  height: 51px;
  font-size: 14px;
  line-height: 17px;
  margin-top: 249px;
  margin-left: -485px;
  margin-bottom: 215px;
  color: #939ca6;
}
#button {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 75px;
  width: 265px;
  height: 59px;
  left: 98px;
  right: 801px;
  top: 377px;
  bottom: 64px;
  background: #ffffff;
  border: 1px solid #4a607a;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
}

#text {
  position: static;
  width: 61px;
  height: 19px;
  left: 102px;
  right: 102px;
  top: 20px;
  bottom: 20px;
  text-transform: uppercase;
}
#text a {
  text-decoration: none;
  color: #000000;
}
#image {
  position: absolute;
  width: 706px;
  height: 516px;
  /* left: 600px; */
  left: 695px;
  right: 55px;
  top: 60px;
  bottom: 73px;
}
#title {
  position: absolute;
  width: 370px;
  height: 57px;
  left: 557px;
  right: 557px;
  top: 718px;
}
#title h1 {
  font-size: 48px;
  line-height: 57px;
  color: #000000;
}
#info {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1165px;
  height: 500px;
  left: 138px;
  top: 850px;
}
.child {
  width: 165px;
  height: 190px;
  left: 238px;
  top: 850px;
  background: #ffffff;
  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 20px;
  margin: 35px;
}
.child img {
  width: 62px;
  height: 62px;
  margin-left: 49px;
  margin-right: 49px;
  margin-top: 38px;
  bottom: 0%;
}
.child p {
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
